azure-data-factory/pipeline/PL_INGEST_NYC_TAXI.json
{
	"name": "PL_INGEST_NYC_TAXI",
	"properties": {
		"activities": [
			{
				"name": "PROCESS_MONTHS",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": false,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DS_PIPELINE_CONFIG",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "FE_PROCESS_MONTHS",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "PROCESS_MONTHS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('PROCESS_MONTHS').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "CPY_TAXI_TO_RAW",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DS_RAW_TAXI_FILES",
									"type": "DatasetReference",
									"parameters": {
										"relative_url": {
											"value": "@concat('trip-data/yellow_tripdata_',item().year,'-',item().month,'.parquet')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_LAKEHOUSE_RAW",
									"type": "DatasetReference",
									"parameters": {
										"directory": "yellow_taxi",
										"file_name": {
											"value": "@concat('yellow_tripdata_',item().year,'-',item().month,'.parquet')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Bronze_Notebook",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "FE_PROCESS_MONTHS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/salunkhetejas501@gmail.com/01_bronze_ingestion"
				},
				"linkedServiceName": {
					"referenceName": "LS_AZURE_DATABRICKS",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Silver_Notebook",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Bronze_Notebook",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/salunkhetejas501@gmail.com/02_silver_transformation"
				},
				"linkedServiceName": {
					"referenceName": "LS_AZURE_DATABRICKS",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Gold_Notebook",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Silver_Notebook",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/salunkhetejas501@gmail.com/03_gold_transformation"
				},
				"linkedServiceName": {
					"referenceName": "LS_AZURE_DATABRICKS",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2026-06-13T13:39:52Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}